
<head><link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script></head>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<%= render 'posts/navsing' %>
<h2> Welcome <%= current_user.username %></h2>
    
    <% @posts.each do |post| %>
      <div class="container">
          <div class="well">
              <div class="media">
                <a class="pull-left" href="#">
                <%- if post.image.attached? %>
                <div style="width:300px; height: auto">
                <%=image_tag(post.image, style: 'width:100%') %>
                </div>
                <%-end%>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= post.title %></h4>
                  <p class="text-right"><%= post.user.username %></p>
                  <p><%= post.description %></p>
                  <ul class="list-inline list-unstyled">
  <li><span><p><i class="fa fa-thumbs-up fa-1x"> <%= post.get_upvotes.size %> likes</i></p></span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> <%= pluralize(post.comments.count, "comment") %></span>
                    <li>|</li>
                    <li><span><p></p><%= link_to 'Show', post, class:"btn btn-secondary" %></span></li>
                    <li>|</li>
                    <li><span><p></p><%= link_to 'Edit', edit_post_path(post), class:"btn btn-secondary" %></span></li>
                    <li>|</li>
                    <li><span><p></p><%= link_to 'Destroy', post, class:"btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></span></li>
                    <li>|</li>
              </ul>
                 <p style="font-size: 25px;"> Price: <%= post.price %></p>
               </div>
            </div>
          </div>
        </div>
    <% end %> 
  

    
    